
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width: 769px) {
    .birth_y {
        padding:0;
    }
    .birth_m {
        padding-right:0;
    }
    .birth_d {
        padding-right:0;
    }
}

@media (max-width: 768px) {
    .birth_y {
        padding:0;
        margin-bottom:8px;
    }
    .birth_m {
        padding:0;
        margin-bottom:8px;
    }
    .birth_d {
        padding:0;
        margin-bottom: 8px;
    }
}
