
.control-value {
    font-family: Meiryo, "メイリオ", "Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-weight: 400;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.btn-app {
    border-radius: 3px;
    position: relative;
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 48px;
    height: 48px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 12px;
}

.info-box-number {
    font-size: 36px;
}


@media (min-width: 769px) {
    .form-horizontal .control-label{
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}

@media (max-width: 768px) {
    .form-horizontal .control-label{
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left;
    }
}

.control-plaintext {
    width: 100%;
    border: none;
    font-size: 100%;
}

.sort {
    margin-left : 8px;
}
